.App {
  text-align: center;
  margin: auto;
  width: 50vw;
  border: 1px solid rgb(230, 236, 240);
}

.App-logo {
  height: 30px;
  margin: 10px 10px;
}

.App-header {
  text-align: left;
  border-bottom: 1px solid rgb(230, 236, 240);
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.grey-v-gap {
  height: 10px;
  background-color: rgb(230, 236, 240);
}

.tweet-btn {
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tweet-textbox > textarea {
  border: 0;
}
