.panels {
  margin: 5px;
}

.App-logo {
  height: 30px;
  margin: 10px 10px;
}

.App-header {
  text-align: left;
  border-bottom: 1px solid rgb(230, 236, 240);
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.grey-v-gap {
  height: 10px;
  background-color: rgb(230, 236, 240);
}

.tweet-btn {
  margin: 10px;
}

.tweet-textbox > textarea,
.tweet-textbox > textarea:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
}

.padding-0 {
  padding: 0;
}
