.panels {
  margin: 5px;
}

.App-logo {
  height: 30px;
  margin: 0.5rem 0.5rem;
}

.App-header {
  text-align: left;
  border-bottom: 1px solid rgb(230, 236, 240);
  margin-top: 1rem;
  padding-left: 0.75rem;
}

.App-link {
  color: rgb(29, 161, 242);
}

.grey-v-gap {
  height: 10px;
  background-color: rgb(230, 236, 240);
}

.tweet-btn {
  margin: 10px;
  background-color: rgb(29, 161, 242);
  font-weight: bold;
}

.tweet-btn:hover,
.tweet-btn:active {
  background-color: rgb(75, 181, 247);
  border-color: rgb(102, 189, 243);
  font-weight: bold;
}

.tweet-textbox > textarea,
.tweet-textbox > textarea:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
}

.padding-0 {
  padding: 0;
}

a:hover {
  color: #fff;
  background-color: rgb(29, 161, 242);
  border-color: rgb(29, 161, 242);
  border-radius: 50px;
  font-weight: bold;
}

.tweets .tweet {
  padding: 0.75rem;
}
